{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<div class="container">
    <div class="container">
        <h1 class="my-5">Modification du mot de passe</h1>

        <div class="row clearfix">
            <div class="col alert alert-light">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary float-right my-3"><i class="fas fa-check"></i> Enregistrer le nouveau mot de passe</button>
                {{ form_end(form) }}
            </div>
         </div>
    </div>          
</div>

{% endblock %}